body {
  font-family: lmb;
  color: rgb(47, 47, 47);
  background-color: #ffffff;
}
.notice {
  width: 470px;
  margin: 100px auto;
  .app_title {
    text-align: center;
  }
  .input_text {
    color: #757575;
    font-family: ntjp;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    background-color: #c0c0c0;
    font-size: 15px;
    padding: 3px 9px 3px 9px;
    border-radius: 5px;
  }
  .input_text:nth-of-type(2) {
    margin: 20px 0 20px 0;
  }
  .submit_button {
    margin: 0 auto;
    color: #ffffff;
    font-family: ntjp;
    border: none;
    outline: none;
    width: 418px;
    height: 40px;
    background-color: #2382ff;
    font-size: 15px;
    border-radius: 5px;
    cursor: crosshair;
  }
  .form_center {
    text-align: center;
  }
  .preview {
    font-weight: 900;
    font-family: ntjp;
    .day {
      margin: 0 25px 0 10px;
    }
    .chkbox {
      margin-left: 10px;
      width: 17px;
      height: 17px;
      outline: none;
      border: none;
      border-radius: 50%;
    }
    .line {
      margin: 5px 5px;
      height: 2px;
      width: 100%;
      background-color: rgb(47, 47, 47);
    }
  }
}
@font-face {
  font-family: "lmb";
  src: url("font/lmb.otf");
}

@font-face {
  font-family: "ntjp";
  src: url("font/ntjp-black.otf");
}
