html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: lmb;
}
a {
  color: white;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  color: white;
}
.container::-webkit-scrollbar {
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
}
.top-title {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: 3s;
}
.tenmetu {
  transform: perspective(1000px);
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: tenmetu 5s infinite linear;
}

// フォント読み込み

@font-face {
  font-family: "lmb";
  src: url("font/lmb.otf");
}

@keyframes tenmetu {
  0% {
    // transform: rotateZ(0);
    // transform: rotateY(0);
    // transform: rotateX(0);
    transform: rotate3d(1, 1, 1, 1deg);
  }
  // 25% {
  //   // transform: rotateZ(90deg);
  //   // transform: rotateY(90deg);
  //   // transform: rotateX(90deg);
  //   transform: rotate3d(1, 1, 1, 90deg);
  // }
  // 50% {
  //   // transform: rotateZ(180deg);
  //   // transform: rotateY(180deg);
  //   // transform: rotateX(180deg);
  //   transform: rotate3d(1, 1, 1, 180deg);
  // }
  // 75% {
  //   // transform: rotateZ(270deg);
  //   // transform: rotateY(270deg);
  //   // transform: rotateX(270deg);
  //   transform: rotate3d(1, 1, 1, 270deg);
  // }
  100% {
    // transform: rotateZ(360deg);
    // transform: rotateY(360deg);
    // transform: rotateX(360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

// @keyframes tenmetu {
//   0% {
//     transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
//   }

//   100% {
//     transform: perspective(1000px) rotateX(-360deg) rotateY(-360deg);
//   }
// }
